@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button-inverted: #ff7300;
}

.block {
  display: block;
}

.measure {
  text-align: left;
  margin-bottom: 1.5rem;

  &.--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* form {
  padding: 32px;
  border: 1px solid #ccc;
  border-radius: 12px;
} */

.input {
  @apply w-96 block overflow-x-hidden overflow-y-clip;
}

body {
  color: var(--fg-base);
}

.control-group {
  @apply mb-4 block;
}

article {
  text-wrap: balance;
  @apply prose text-left max-w-[56ch]; 
}